---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
const tags = posts
    .flatMap((post) => post.data.tags)
    .filter((tag, index, self) => self.indexOf(tag) === index);
---

<!doctype html>
<html lang="en" class="min-h-dvh">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body
        class="mx-auto w-full max-w-screen-lg bg-paper text-ink transition-colors duration-300"
    >
        <Header />
        <main
            class="flex flex-col items-center justify-center px-6 py-4 md:px-10"
        >
            <ul class="flex flex-wrap gap-2">
                {
                    tags.map((tag) => (
                        <li>
                            <a href={`/tags/${tag}`} class="rounded-md p-1">
                                #{tag}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </main>
        <Footer />
    </body>
</html>
