---
import { Icon } from "astro-iconify";

const today = new Date();
---

<footer
    class="mx-auto mt-auto flex w-full max-w-screen-lg items-center justify-between border-t-2 border-hairline p-6 text-xs text-inksoft md:p-10 md:text-sm lg:text-base"
>
    <p class="font-medium">
        Made with ❤️ by <a
            href="https://github.com/magicmagnus"
            target="_blank"
            class="text-ink3 no-underline">magicmagnus</a
        >.
    </p>
    <p class="font-medium">
        &copy; {today.getFullYear()} Magnus Kaut.
    </p>
</footer>
