---
import { Icon } from "astro-iconify";

const today = new Date();
---

<footer
    class="my-10 flex items-center justify-center border-t border-inksoft px-4 pt-10 text-xs text-inksoft md:mt-20 md:text-sm lg:text-base"
>
    <p class="font-medium">
        &copy; {today.getFullYear()} Magnus Kaut. All rights reserved. Made with ❤️
        by <a
            href="https://github.com/magicmagnus"
            target="_blank"
            class="text-ink3 no-underline">magicmagnus</a
        >.
    </p>
</footer>
