---
import { Icon } from "astro-iconify";

const today = new Date();
---

<footer
    class="my-10 flex items-center justify-between border-t border-inksoft px-4 pt-10 text-xs text-inksoft md:mt-20 md:text-sm lg:text-base"
>
    <p class="font-medium">
        &copy; {today.getFullYear()} Magnus Kaut.
    </p>
    <ul class="flex gap-2">
        <li>
            <a
                href="/"
                class="flex items-center gap-1 hover:text-ink hover:no-underline"
                >Projects <Icon
                    name="radix-icons:arrow-top-right"
                    class="h-3 w-3"
                /></a
            >
        </li>

        <li>
            <a
                href="/"
                class="flex items-center gap-1 hover:text-ink hover:no-underline"
                >About <Icon
                    name="radix-icons:arrow-top-right"
                    class="h-3 w-3"
                /></a
            >
        </li>
    </ul>
</footer>
