---
import { Icon } from "astro-iconify";

import {
    Astronav,
    MenuItems,
    MenuIcon,
    Dropdown,
    DropdownItems,
    DropdownSubmenu,
} from "astro-navbar";
import ThemeIcon from "./ThemeIcon.astro";
---

<header
    class="mx-auto flex h-fit w-full max-w-screen-lg items-center gap-2 border-b-2 border-hairline px-6 py-6 text-ink md:px-10 md:py-10"
>
    <Astronav>
        <a class="mr-auto flex w-auto items-center justify-start" href="/">
            <svg
                class="h-6 text-ink transition-colors duration-1000 md:h-10 lg:h-12"
                viewBox="9.44 21.12 62.358 39.01"
                xmlns="http://www.w3.org/2000/svg"
                aria-label="Profile picture of Magnus Kaut"
                role="img"
            >
                <path
                    d="M49,22.43L28.79,49.12C28.681,49.267 28.508,49.353 28.325,49.353C28.142,49.353 27.969,49.267 27.86,49.12L21.34,40.53C21.25,40.404 21.104,40.33 20.95,40.33C20.687,40.33 20.47,40.546 20.47,40.81C20.47,40.813 20.47,40.817 20.47,40.82L20.47,59.12C20.47,59.669 20.019,60.12 19.47,60.12L10.44,60.12C9.891,60.12 9.44,59.669 9.44,59.12L9.44,22.12C9.44,21.571 9.891,21.12 10.44,21.12L19.74,21.12C20.196,21.12 20.626,21.335 20.9,21.7L27.9,30.87C28.01,31.013 28.18,31.097 28.36,31.097C28.54,31.097 28.71,31.013 28.82,30.87L35.82,21.7C36.094,21.335 36.524,21.12 36.98,21.12L48.41,21.12C48.416,21.12 48.422,21.12 48.428,21.12C48.856,21.12 49.208,21.472 49.208,21.9C49.208,22.096 49.134,22.286 49,22.43ZM58.24,41.22C57.989,40.872 57.989,40.398 58.24,40.05L71.64,22.43C71.742,22.295 71.798,22.129 71.798,21.96C71.798,21.532 71.446,21.18 71.018,21.18C71.012,21.18 71.006,21.18 71,21.18L59.5,21.18C59.049,21.179 58.623,21.39 58.35,21.75L36.47,50.61C36.28,50.86 36.178,51.166 36.18,51.48L36.18,59.12C36.18,59.669 36.631,60.12 37.18,60.12L46.2,60.12C46.749,60.12 47.2,59.669 47.2,59.12L47.2,55.18C47.197,54.861 47.303,54.551 47.5,54.3L50.34,50.55C50.487,50.357 50.717,50.243 50.96,50.243C51.203,50.243 51.433,50.357 51.58,50.55L58.38,59.55C58.654,59.915 59.084,60.13 59.54,60.13L70.63,60.13C71.156,60.1 71.573,59.659 71.573,59.132C71.573,58.931 71.512,58.736 71.4,58.57L58.24,41.22Z"
                    fill="currentColor"></path>
            </svg>
        </a>
    </Astronav>
    <MenuItems class="text-base md:text-lg">
        <a class="no-underline" href="/">Home</a>
        <!-- <a class="no-underline" href="/about">About</a> -->
        <a class="no-underline" href="/blog">Projects</a>
        <!-- <a class="no-underline" href="/tags">Tags</a> -->
    </MenuItems>

    <ThemeIcon class="-mb-1 md:-mb-2 md:ml-5 md:scale-150" />
    <!-- <MenuItems class="hidden lg:flex">
            <ul
                class="mt-3 flex flex-col gap-3 border-b border-neutral-400 pb-4 lg:mt-0 lg:flex-row lg:gap-5 lg:border-b-0 lg:pb-0"
            >
                <li class="flex items-center">
                    <a class="no-underline" href="/about">About</a>
                </li>
                <li class="flex items-center">
                    <a class="no-underline" href="/blog">Projects</a>
                </li>
                <li class="flex items-center">
                    <a class="no-underline" href="/tags">Tags</a>
                </li>
                <ThemeIcon class="hidden w-10 lg:flex" />
            </ul>
        </MenuItems> -->
</header>
